# Python/Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/
.env

# MacOS files
.DS_Store

# Drury Adapters (trained weights)
drury_adapters/

# Generated dataset files
data/train.jsonl
data/valid.jsonl

# Generated / Mock sports images
*.jpg
*.png
